html{
    background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5);
    background-size: cover;
}

body{
    margin: 0;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 20rem;
    height: 20rem;
    padding: 20px;
    border: 20px solid white;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
}

.clock-face {
    position: relative;
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand{
    width: 50%;
    height: 6px;
    background: #000;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.twelve{
    position: absolute;
    top: -5%;
    right: 45%;
}

.three{
    position: absolute;
    top: 38%;
    right: 5%;
}

.six{
    position: absolute;
    bottom: -5%;
    right: 47%;
}

.nine{
    position: absolute;
    top: 38%;
    left: 5%;
}